<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    

    <section id="home" class="banner_wrapper">
        <nav class="navbar navbar-light p-4 bg-secondary">
            <div class="container-fluid">
                <img src="/assets/img/org.png" width="40" height="40" class="p-0" alt="image">
              <form class="d-flex">
                <input class="form-control me-2 " type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success border-light text-white" type="submit"><span><i class="fa fa-search" aria-hidden="true"></i></span></button>
              </form>
            </div>
          </nav>
      <div class="container">
            <div class="row">
                <div class="col-lg-7 order-lg-1 order-2 banner-content ">
                    <p class="text-danger lineUp">winter collection</p>
                     <h1 class="display-4 lineUp">New Winter <br> Collection 2024</h1>
                    <p class="display-4 lineUp">There is Nothing like trend </p>
                    <br/>
                    <span class="border border-dark justify-content-center lineUp p-2"> Shop now <i class="fa fa-shopping-bag" aria-hidden="true"></i></span>
                    <br/><br/> 
                </div>
                
                    <div class="col-lg-5 order-lg-2 order-1 ">
                        <div class="slider">
                            <div class="slides">
                                <div class="slide">
                                    <img src="/assets/img/pm.jpg"class="img-fluid rounded float-right" alt="image">
                                </div>
                                <div class="slide">
                                    <img src="/assets/img/pm.jpg"class="img-fluid rounded float-right" alt="image">
                                </div>
                                <div class="slide">
                                    <img src="/assets/img/pm.jpg"class="img-fluid rounded float-right" alt="image">
                                </div>
                        </div>
                </div>
            </div>
            </div>
        </div>
    </section>
</body>
</html>
