<!DOCTYPE html>
<html>
<body>
<div class="row d-flex ">
    <div class="col-md container justify-content-center mt-5 border-0">
        <div class="card w-300 h-300 position-relative overflow-hidden">
             <div class="img-container w-80 h-100 m-auto">
                 <div class="img">
                     <img src="/assets/img/ty.jpg"class="h-100 rounded-start position-absolute " alt="">
                 </div>
             </div>
             <div class="content">
                 <h3 class="text-warning">Bla bla</h3>
                 <p class="descriptio text-white">pmmmomooooooooo <br>
                     uuuuuuuuuuuuuuuuuuuuuuu<br>
                     uiuiuiuiuiuiuiuiuiuiui
                 </p>
                 <button class="action-btn float-right border-0 text-white rounded-15 bg-primary">Check it out</button>
             </div>
             
            </div> 
    </div>
     <div class="col-md container mt-5 border-0 justify-content-center">
        <div class="card w-300 h-300 position-relative overflow-hidden">
             <div class="img-container w-80 h-100 m-auto">
                 <div class="img">
                     <img src="/assets/img/ty.jpg"class="h-100 rounded-start position-absolute " alt="">
                 </div>
             </div>
             <div class="content">
                 <h3 class="text-warning">Bla bla</h3>
                 <p class="description text-white">pmmmomooooooooo <br>
                     uuuuuuuuuuuuuuuuuuuuuuu<br>
                     uiuiuiuiuiuiuiuiuiuiui
                 </p>
                 <button class="action-btn float-right border-0 text-white rounded-15 bg-primary">Check it out</button>
             </div>
             
            </div> 
    </div>
    <div class="col-md container mt-5 border-0 justify-content-center">
        <div class="card w-300 h-300 position-relative overflow-hidden">
             <div class="img-container w-80 h-100 m-auto">
                 <div class="img">
                     <img src="/assets/img/ty.jpg"class="h-100 rounded-start position-absolute " alt="">
                 </div>
             </div>
             <div class="content">
                 <h3 class="text-warning">Bla bla</h3>
                 <p class="description text-white">pmmmomooooooooo <br>
                     uuuuuuuuuuuuuuuuuuuuuuu<br>
                     uiuiuiuiuiuiuiuiuiuiui
                 </p>
                 <button class="action-btn float-right border-0 text-white rounded-15 bg-primary">Check it out</button>
             </div>
             
            </div> 
    </div>
    <div class="col-md container mt-5 border-0 justify-content-center">
        <div class="card w-300 h-300 position-relative overflow-hidden">
             <div class="img-container w-80 h-100 m-auto">
                 <div class="img">
                     <img src="/assets/img/ty.jpg"class="h-100 rounded-start position-absolute " alt="">
                 </div>
             </div>
             <div class="content">
                 <h3 class="text-warning"> Bla bla</h3>
                 <p class="description text-white">pmmmomooooooooo<br>
                     uuuuuuuuuuuuuuuuuuuuuuu<br>
                     uiuiuiuiuiuiuiuiuiuiui
                 </p>
                 <button class="action-btn float-right border-0 text-white rounded-15 bg-primary">Check it out</button>
             </div>
             
            </div> 
    </div>
    
</div>
</body>
</html>